<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Information</title>
    <link rel="stylesheet" href="/artist.css">
</head>
<body>
<h1>Artist Info</h1>

<div class="container">
    <% if (artist) { %>
    <div class="artist-info">
        <h2><%= artist.name %></h2>
        <p>Genre: <%= artist.genre %></p>
    </div>
    <% } else { %>
    <p>Artist not found.</p>
    <% } %>
</div>
</body>
</html>

